@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

#bg {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1638628578277-94c775a02e61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -30px;
    left: -30px0;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    filter: blur(30px);
    z-index: -1;
}
#text-loading {
    color: #fff;
    font-size: 42px;
    opacity: 1;
}